<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Open Graph info -->
    <meta property="og:title" content="BabylonJS HtmlMaterial" />
    <meta
      property="og:description"
      content="Custom material to display webpages on 3D surfaces in BabylonJS."
    />
    <meta
      property="og:image"
      content="https://main.d20bw7zgjbx0k3.amplifyapp.com/assets/images/social-thumbnail.png"
    />

    <title>BabylonJS HtmlMaterial</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <canvas id="renderCanvas"></canvas>
    <div class="uiOverlay">
      <p class="instructionText">
        Double-click on the ground plane to spawn an HTML panel. Left mouse
        button rotates the camera. Right mouse button pans the camera.
      </p>
    </div>
  </body>
</html>
